/* styles.css */

#heading
{
    background: BlueViolet;
    padding: 35px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: white;
}

h1
{
    font-weight: bold;
    font-size: 40px;
}

#nutrition
{
    background: Beige;
    padding: 25px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

#menus
{
    background: Beige;
    padding: 25px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

#recipes
{
    background: Beige;
    padding: 25px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

h3
{
    font-weight: bold;
    font-size: 30px;
}

.send
{
padding: 10px 20px 11px !important;
font-size: 12px !important;
background-color: #F36C8C;
font-weight: bold;
text-shadow: 1px 1px #F36C8C;
color: #ffffff;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #F36C8C;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}